* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333030;
  width: auto;
  /* min-width: 1800px; */
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-family: "VT323", sans-serif;
  color: #b4afaf;
  letter-spacing: 0.1rem;
  font-size: 17px;
  font-family: "Calibri", Serif;
}

.nav {
  background-color: #ecebeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
  width: 350px;
}

.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #272626;
}

.loginUser{
font-size: 12px;
}
/* ---------- open mainTableList ----------*/
.mainTableList{
  width: 100%;
  border: 1px solid black;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}

.mainTableList thead{
  background-color:#dbd3d3;
}

.mainTableList thead tr th,.mainTableList tbody tr td{
  border: 1px solid black;
}

.mainTableList thead tr .widthMainTableListId{
  width: 70px;
}

.mainTableList thead tr .widthMainTableListName{
  width: 200px;
}

.mainTableList thead tr .widthMainTableListOpis{
  min-width: 400px;
}

.mainTableList thead tr .widthMainTableListStatus{
  width: 200px;
}

/* ---------- close mainTableList ----------*/

