* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #333030 ;
  width: auto;
  /* min-width: 1800px; */
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-family: "VT323", sans-serif;
  color: #b4afaf;
  letter-spacing: 0.1rem;
  font-size: 17px;
  font-family: "Calibri", Serif;
}


a:link, a:visited, a:active{
  text-decoration: none;
  /* color: #fff ; */
}

.loginUser{
font-size: 12px;
}
/* ---------- open mainTableList ----------*/
.mainTableList{
  /* width: 100%; */
  border: 1px solid black;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}



/* ---------- close mainTableList ----------*/

